# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = kiruba
#	email = kiruba051190@gmail.com
[user]
	name = Kiruba
	email = kiruba051190@gmail.com
